.filtered-meal-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.container-area {
  display: flex;
  /* -webkit-display: box;
      -moz-display: box;
      -ms-display: flexbox;
      -webkit-display: flex; */
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.filtered-meal-area-img :hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transition: transform 0.5s;
  opacity: 1;
}

.filtered-meal-area-info {
  overflow: hidden;

  max-width: 35vh;
}

.filtered-meal-area-info h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
}
